@font-face {
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 200;
  src: local('Mukta ExtraLight'), local('Mukta-ExtraLight'), url(https://fonts.gstatic.com/s/mukta/v5/iJWHBXyXfDDVXbEOjGmd8WU.ttf) format('truetype');
}
@font-face {
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 400;
  src: local('Mukta Regular'), local('Mukta-Regular'), url(https://fonts.gstatic.com/s/mukta/v5/iJWKBXyXfDDVXbnBrXk.ttf) format('truetype');
}
@font-face {
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 500;
  src: local('Mukta Medium'), local('Mukta-Medium'), url(https://fonts.gstatic.com/s/mukta/v5/iJWHBXyXfDDVXbEyjmmd8WU.ttf) format('truetype');
}
@font-face {
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 600;
  src: local('Mukta SemiBold'), local('Mukta-SemiBold'), url(https://fonts.gstatic.com/s/mukta/v5/iJWHBXyXfDDVXbEeiWmd8WU.ttf) format('truetype');
}
/* CUSTOM CHECKBOXES */
/* The container */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 32px;
  margin-bottom: 12px;
  margin-right: 40px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition-duration: 0.3s;
  /* Hide default checkbox */
}
.checkbox-container > input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #2e9799;
}
/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
body {
  font-family: 'Mukta', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
h2 {
  font-weight: 400;
}
#checkboxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  #checkboxes {
    display: flex;
    flex-direction: column;
  }
}
img {
  height: 400px;
}
@media (max-width: 1024px) {
  img {
    display: none;
  }
}
#page--main {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-left: 5%;
}
/* Inputs */
#location,
#email {
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.616);
  font-size: 16px;
  width: 280px;
  padding-bottom: 8px;
  font-family: 'Mukta', sans-serif;
  letter-spacing: 1px;
  -webkit-appearance: none;
}
#location:focus,
#email:focus {
  outline: none;
}
#content {
  margin-top: 320px;
}
@media (min-width: 768px) {
  #content {
    margin-left: 72px;
    margin-top: 0 !important;
  }
}
#construction {
  margin-top: 320px;
  display: none;
  margin-left: 16px;
  margin-right: 16px;
}
@media (min-width: 768px) {
  #construction {
    margin-left: 72px;
    margin-top: 0 !important;
  }
}
#button {
  background: none;
  border: none;
  height: 48px;
  width: 168px;
  transition-duration: 0.3s;
  background-color: #ff685d;
  border-radius: 16px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-appearance: none;
}
#button:focus {
  outline: none;
}
#button:hover {
  background-color: #cc5249;
}
@media (max-width: 1024px) {
  #button {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}
.pac-container:after {
  content: none !important;
}
